<configuration>
  <!-- LOGGER ROOT -->
  <root level="debug">
    <appender-ref ref="consoleOutput" />
  </root>
  <!-- CONSOLE OUTPUT -->
  <appender name="consoleOutput"
    class="ch.qos.logback.core.ConsoleAppender">
    <!-- OUTPUT FORMAT -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-4level %logger{32} - [%method] - %msg%n</pattern>
    </encoder>
  </appender>
</configuration>